# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
*.test.ts

# production
/build
/dist
/local

# misc
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache
